.fullContent-container{
  z-index: 1;
  height: 100%;
  padding-top: 100px;
}
.custom-shape-divider-top-1645733151 {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1645733151 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 177px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1645733151 .shape-fill {
  fill: #FCAF3C;
}
.custom-shape-divider-bottom-1645733380 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645733380 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 177px;
}

.custom-shape-divider-bottom-1645733380 .shape-fill {
  fill: #EC5C8C;
}
