.filler{
    height:100px;
}

.centered{
    text-align: center;
}
button{
    background-color: rgb(15,135,255);
    color: white;
    padding: 3px 20px;
    font-size: 16px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    cursor:pointer;
}
.btn1{
    background-color: rgb(236, 92, 140);
    color: rgb(20,20,20);
}
.btn2{
    background-color: rgb(255, 185, 35);
    color: rgb(20,20,20);
}