<svg class="svgBackground" id="visual1" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
    <g transform="translate(483.76379492739204 202.68407763480155)">
        <path
            d="M119.2 -127.6C157.5 -110 193.5 -75.2 218.5 -24.9C243.6 25.4 257.8 91.2 235.5 141.8C213.2 192.4 154.5 227.7 91.2 251.1C27.8 274.4 -40.1 285.7 -104.8 269.9C-169.5 254.2 -230.9 211.5 -248.5 155.7C-266.1 99.9 -239.9 31.1 -204.7 -13.2C-169.6 -57.4 -125.5 -77.2 -89.9 -95.3C-54.2 -113.3 -27.1 -129.7 6.7 -137.6C40.5 -145.6 81 -145.2 119.2 -127.6"
            fill="#EC5C8C"></path>
    </g>
</svg>
<svg class="svgBackground2" id="visual2" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
    <g transform="translate(483.76379492739204 202.68407763480155)">
        <path
            d="M119.2 -127.6C157.5 -110 193.5 -75.2 218.5 -24.9C243.6 25.4 257.8 91.2 235.5 141.8C213.2 192.4 154.5 227.7 91.2 251.1C27.8 274.4 -40.1 285.7 -104.8 269.9C-169.5 254.2 -230.9 211.5 -248.5 155.7C-266.1 99.9 -239.9 31.1 -204.7 -13.2C-169.6 -57.4 -125.5 -77.2 -89.9 -95.3C-54.2 -113.3 -27.1 -129.7 6.7 -137.6C40.5 -145.6 81 -145.2 119.2 -127.6"
            fill="#FCAF3C"></path>
    </g>
</svg>
<section class="container">
    <section>
        <div id="title" class="introduction-desc">
            <h1>Prenez rapidement un rendez-vous avec votre médecin !</h1>
            <h6>Sélectionnez votre médecin, choisissez la date et l'heure de votre rdv et recevez votre
                sms/mail de confirmation. C’est aussi simple que ça !</h6>
        </div>
        <div class="introduction-img">
            <img src="../../../../assets/images/doctors.svg" alt="">
        </div>
    </section>
    <section id="introductionCols" class="introduction">
        <h1 class="fs-40">Pourquoi prendre rendez-vous avec Med.tn?</h1>
        <h6 class="mb-40">Avec Med, prenez rendez-vous en ligne avec votre médecin autrement</h6>
        <div class="col-1-3">
            <img class="col-1-3img" src="../../../../assets/images/doctors.svg" alt="">
            <h6 class="fs-18">Accédez rapidement à votre médecin</h6>
        </div>
        <div class="col-1-3">
            <img class="col-1-3img" src="../../../../assets/images/phone2.svg" alt="">
            <h6 class="fs-18">Prenez rendez-vous en ligne à tout moment</h6>
        </div>
        <div class="col-1-3">
            <img class="col-1-3img lastimg" src="../../../../assets/images/phone.svg" alt="">
            <h6 class="fs-18 lastimgtext">Recevez des sms/mail de rappel personnalisés</h6>
        </div>
    </section>
    <section>
        <h1>Qui sommes nous ?</h1>
        <h5>Pour les patients</h5>
        <div class="content-subSection">
            <h6 class="mb-10">Un doute, une inquiétude, besoin d’un conseil santé ? <strong>Toubib.net</strong> c’est la
                solution</h6>
            <p><strong>Toubib.net</strong> est une plateforme innovante qui vous permet de trouver rapidement un médecin
                le plus proche de chez vous et de prendre rendez-vous en ligne gratuitement.</p>
            <p><strong>Toubib.net</strong> vous permet de poser vos questions en ligne directement aux médecins en
                respectant les termes de confidentialité.</p>
            <p><strong>Toubib.net</strong> est le Moteur de recherche pour trouver une pharmacie à proximité.</p>
            <p><strong>Toubib.net</strong> c’est la base de données de la majorité des médicaments</p>
            <p><strong>Toubib.net</strong> vous donne l’information sur les symptômes de maladie les plus courants.</p>
        </div>
        <h5>Pour les professionnels de santé</h5>
        <div class="content-subSection">
            <p><strong>Toubib.net</strong> est un service complet de gestion de cabinet médical, qui optimise votre
                organisation et vous fait gagner du temps. Avec <strong>Toubib.net</strong>, vous partagez vos
                disponibilités en temps réel avec vos patients selon vos critères, tout en gardant la main sur votre
                agenda médical.</p>
            <p><strong>Toubib.net</strong> vous permet d’entrer en contact directement avec des patients et de répondre
                à leurs interrogations.</p>
            <h6>Notre objectif final est d'améliorer l'accès aux soins en mettant à votre disposition des outils simples
                et intuitifs pour que chacun devienne acteur de sa santé et de son bien-être.</h6>
        </div>
    </section>
</section>