.button{
    background-color: rgb(15,135,255);
    color: white;
    padding: 3px 20px;
    font-size: 16px;
    border-radius: 6px;
    display: inline-block;
   margin:5px;
   margin-bottom: 0px;
    border: none;
    cursor:pointer;
}
.btn1{
    background-color: rgb(236, 92, 140);
    color: rgb(20,20,20);
}
.btn2{
    background-color: rgb(255, 185, 35);
    color: rgb(20,20,20);
}
.article{
    border-radius:20px;
    border:1px solid rgb(255, 185, 35);
}
.article:hover{
    border:1px solid #343a40;
    
}
.author{
    display:block;
    float:right;
    
}
.date{
    float:right;
    color:#8f99a3;
}

div[name=option]
{
    text-align: right;
}
.centered{
    display: block;
    margin-bottom: 10px;
}