<section class="main-container">

  <!-- medicines / pharmacy / servey-question / client / appointement -->

  <section class="centered-content">

    <!-- None sense simply to illustrate-->
    <section class="subsection-content">
      <h4 class="title-question-form">Add a Question</h4>
      <div class="p-inputgroup">
        <input class="input-question-form" [(ngModel)]="question.title" type="text" pInputText placeholder="Title">
      </div>
      <div class="p-inputgroup">
        <input class="input-question-form" [(ngModel)]="question.content" type="text" pInputText placeholder="Content">
      </div>
      <button class="input-add-btn" (click)="add()">Ajouter</button>
    </section>
  </section>
</section>
